# Dependências locais
node_modules
npm-debug.log
yarn.lock
pnpm-lock.yaml

# Builds locais
dist
coverage

# Configs e metadados que não precisam ir para a imagem
.git
.gitignore
.vscode
.idea
*.md
Dockerfile
docker-compose.yml
