<body>
  <section class="page-container">
    <div class="description-container">
      <p class="description-text">
        Olá! meu nome é <br>
        <span class="name-highlight">Lucas Gomes</span><br>
        Desenvolvedor de software especializado em Angular, Spring Boot e Typescript.
        Com 2 anos de experiência na Sulamerica Seguros, estou me consolidando como desenvolvedor Full-Stack e estou em busca de novos desafios e aprendizado constante.
      </p>

      <div class="icons-container" id="icons">
        <i class="fab fa-angular tech-icon angular-icon"></i>
        <img class="typescript-icon" src="assets/typescript_icon.png" alt="Typescript"/>
        <i class="fab fa-js tech-icon js-icon"></i>
        <i class="fab fa-java tech-icon java-icon"></i>
        <img class="spring-boot" src="assets/spring_boot.png" alt="Spring Boot"/>
      </div>
    </div>
    <div class="photo-container">
      <img src="assets/lucas_perfil.jpg" alt="Minha Foto" class="profile-photo" />
    </div>
  </section>

  <section class="about-container" [class.visible]="isVisible">
    <div class="about-photo">
      <img src="assets/wallpaper_tech.jpg" alt="Foto com tema tech" />
    </div>

    <div class="about-text">
      <h2>Um pouco mais sobre mim...</h2>
      <p>
        Sou apaixonado por tecnologia, desenvolvimento de software e resolução de
        problemas. Sempre em busca de novos desafios e oportunidades para aprender
        e crescer. Quero consolidar minha carreira como Desenvolvedor Full Stack,
        aplicando meus conhecimentos técnicos e experiência para criar soluções inovadoras.
      </p>

      <div class="social-links">
        <a href="https://github.com/LucasSilva3101" target="_blank">
          <i class="fab fa-github"></i>
        </a>
        <a href="https://www.linkedin.com/in/lucas-silva-b89171269" target="_blank">
          <i class="fab fa-linkedin"></i>
        </a>
        <div class="button-download">
          <a [href]="linkParaCurriculo" target="_blank" download>
            Download Currículo
          </a>
        </div>
      </div>
    </div>
  </section>

  <section class="projects">
    <h1>Meus Projetos</h1>
    <div class="cards-container">
      <div class="card">
        <div class="coming-soon">
          <span>Em breve novidades • Em breve novidades • Em breve novidades • </span>
        </div>
      </div>
      <div class="card">
        <div class="coming-soon">
          <span>Em breve novidades • Em breve novidades • Em breve novidades • </span>
        </div>
      </div>
      <div class="card">
        <div class="coming-soon">
          <span>Em breve novidades • Em breve novidades • Em breve novidades • </span>
        </div>
      </div>
    </div>
  </section>

  <section class="talk-me">
  </section>
</body>
