<body>
  <main>
    <div class="foto-perfil">
      <img src="../../assets/logo.png" alt="Lucas foto de perfil">
    </div>
    <div class="texto-autodescritivo">
      <p>Meu nome é <strong>Lucas</strong> tenho <strong>23 anos</strong> estudo Ciência da Computação, estualmente estou no 6° semestre</p><br>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi error corrupti a expedita similique assumenda iste labore eum modi, ut quae alias velit praesentium nihil dolore reprehenderit officiis, explicabo nulla.</p>
    </div>
  </main>
</body>
