<body>
  <div class="page-container">
    <div class="description-container">
      <p class="description-text">
        Olá! meu nome é <br>
        <span class="name-highlight">Lucas Gomes</span>
        <br> sou desenvolvedor de software especializado em Angular, Spring Boot e Typescript.
        Com 2 anos de experiência na Sulamerica Seguros, me consolidei como desenvolvedor Full-Stack e estou sempre em busca de novos desafios e aprendizado constante.
      </p>

      <!-- Ícones dos Frameworks -->
      <div class="icons-container">
        <i class="fab fa-angular tech-icon angular-icon"></i>
        <i class="fab fa-java tech-icon java-icon"></i>
        <img class="spring-boot" src="assets/spring_boot.png"/>
      </div>

    </div>
    <div class="photo-container">
      <img src="assets/lucas_perfil.jpg" alt="Minha Foto" class="profile-photo" />
    </div>
  </div>
</body>
