<header>
  <nav class="topnav">
    <ul class="nav-items">
      <li>
        <a id="home-icon" routerLink="/main"><em class="fas fa-home"></em></a>
      </li>
      <li>
        <a routerLink="/experiencias">Experiências</a>
      </li>
      <li>
        <a routerLink="/skills">Skills</a>
      </li>
      <li class="dropdown">
        <a>Contatos</a>
        <ul class="dropdown-menu">
          <li>
            <a (click)="copyToClipboard('lucasdsg31@outlook.com')">lucasdsg31&#64;outlook.com</a>
          </li>
          <li><a target="_blank" [href]="LinkedinLink">Linkedin</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</header>
